@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,300,700&subset=latin,cyrillic);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

::selection { background-color: #0c0c0c; color: #ffffff; }

body { color: #0c0c0c; font-family: "Roboto", sans-serif; font-size: 12px; }

.navigation { height: 50px; width: 100%; position: fixed; z-index: 2000; top: 0; background-color: #0c0c0c; }
.navigation-inner-logo-image { margin-left: 20px; height: 40px; padding: 5px; }
.navigation-inner-menu { margin-right: 20px; float: right; }
.navigation-inner-menu-item { display: inline-block; height: 50px; }
.navigation-inner-menu-item-link, .navigation-inner-menu-item-link:active, .navigation-inner-menu-item-link:visited, .navigation-inner-menu-item-link:link { text-decoration: none; color: #ffffff; text-transform: uppercase; font-size: 12px; font-weight: 700; padding: 18px 18px; line-height: 50px; }
.navigation-inner-menu-item-link:hover { background-color: #262626; }

.header { margin-top: 50px; text-align: center; position: relative; padding-bottom: 40px; }
.header-bg { position: absolute; z-index: 100; top: 0; left: 0; }
.header-inner-caption { position: relative; z-index: 1000; padding-top: 50px; font-size: 50px; font-weight: 700; }
.header-inner-text { position: relative; z-index: 1000; padding-top: 90px; font-size: 26px; font-weight: 700; }
.header-inner-button { position: relative; z-index: 1000; display: inline-block; margin-top: 50px; padding: 20px 30px 20px 60px; border-radius: 30px; color: #ffffff; text-decoration: none; background: #009846 url("../images/services-button-icon.svg") 15px 50% no-repeat; font-size: 18px; font-weight: 400; }
.header-inner-button:hover { box-shadow: 2px 2px 8px 1px #0c0c0c; }

.services { padding-top: 50px; padding-bottom: 50px; }
.services-header { line-height: 110px; min-height: 110px; background-image: url("../images/bg-caption.jpg"); background-size: 100%; background-attachment: fixed; }
.services-header-caption { color: #ffffff; font-weight: 700; font-size: 22px; background: url("../images/services.svg") 20px 50% no-repeat; background-size: 60px; padding-left: 100px; }
.services-list-item { line-height: 110px; min-height: 110px; background: #ffffff; }
.services-list-item-link { display: block; color: #0c0c0c; padding-left: 20px; font-weight: 700; font-size: 14px; text-decoration: none; background: url("../images/services.svg") 20px 50% no-repeat; background-size: 60px; padding-left: 100px; }
.services-list-item-link-description { display: none; }
.services-list-item:nth-child(1) .services-list-item-link { background-image: url("../images/remont-pc.svg"); }
.services-list-item:nth-child(2) .services-list-item-link { background-image: url("../images/refill.svg"); }
.services-list-item:nth-child(3) .services-list-item-link { background-image: url("../images/soft.svg"); }

.service { padding-top: 50px; padding-bottom: 50px; }
.service-header { line-height: 110px; min-height: 110px; background-image: url("../images/bg-caption.jpg"); background-size: 100%; background-attachment: fixed; }
.service-header-caption { color: #ffffff; background: url("../images/services.svg") 20px 50% no-repeat; background-size: 60px; padding-left: 100px; font-weight: 700; font-size: 16px; }
#remont-pc .service-header-caption { background-image: url("../images/remont-pc.svg"); }
#refill .service-header-caption { background-image: url("../images/refill.svg"); }
#soft .service-header-caption { background-image: url("../images/soft.svg"); }
#print .service-header-caption { background-image: url("../images/print.svg"); }
.service-description { padding: 40px; font-family: "PT Serif", serif; font-size: 14px; line-height: 25px; }
.service-description-caption { font-weight: 700; margin-bottom: 30px; }
.service-description-features { list-style: disc; margin: 30px 0 30px 20px; }

.contacts { padding-top: 50px; padding-bottom: 120px; background-image: url("../images/bg-caption.jpg"); background-size: 100%; background-attachment: fixed; color: #ffffff; font-size: 20px; font-weight: 700; }
.contacts-inner-phones, .contacts-inner-adreses { padding: 22px; display: inline-block; }
.contacts-inner-phones-phone { display: block; line-height: 40px; color: #ffffff; text-decoration: none; }
.contacts-inner-phones-phone:hover { text-decoration: underline; }
.contacts-inner-adreses-adres { display: block; line-height: 40px; color: #ffffff; text-decoration: none; }
.contacts-inner-adreses-adres:hover { text-decoration: underline; }
.contacts-inner-map { padding: 5%; width: 88%; }

@media only screen and (min-width: 960px) { .navigation-inner { width: 960px; margin: 0 auto; }
  .header { min-height: 750px; }
  .header-bg { display: block; }
  .header-inner { width: 960px; margin: 0 auto; }
  .header-inner-caption { padding-top: 160px; }
  .header-inner-text { padding-top: 60px; }
  .header-inner-button { margin-top: 60px; }
  .services { min-height: 700px; }
  .services-header { line-height: 140px; min-height: 140px; }
  .services-header-caption { width: 960px; margin: 0 auto; width: 720px; padding-left: 240px; font-size: 25px; background: url("../images/services.svg") 110px 50% no-repeat; background-size: 90px; }
  .services-list { text-align: center; padding-top: 20px; }
  .services-list-item { display: inline-block; width: 20%; background: #ffffff; padding: 0px 6%; }
  .services-list-item-link { background: url("../images/services.svg") 50% 30px no-repeat; background-size: 150px; padding: 200px 0px 0px 0px; transition: background-size 0.3s cubic-bezier(0.49, 1.02, 0.37, 1.96); }
  .services-list-item-link-caption { font-size: 18px; line-height: 18px; }
  .services-list-item-link-description { height: 90px; overflow: auto; padding: 20px 5px 0px 5px; width: 70%; display: inline-block; visibility: hidden; font-size: 12px; line-height: 14px; font-style: italic; font-weight: 300; }
  .services-list-item:nth-child(1) .services-list-item-link { background-image: url("../images/remont-pc.svg"); }
  .services-list-item:nth-child(2) .services-list-item-link { background-image: url("../images/refill.svg"); }
  .services-list-item:nth-child(3) .services-list-item-link { background-image: url("../images/soft.svg"); }
  .services-list-item-link:hover { background-size: 130px; box-shadow: #0c0c0c 1px 1px 6px 1px; }
  .services-list-item-link:hover .services-list-item-link-description { visibility: visible; }
  .service { min-height: 650px; }
  .service-header { line-height: 140px; min-height: 140px; }
  .service-header-caption { width: 960px; margin: 0 auto; width: 720px; padding-left: 240px; font-size: 25px; background: url("../images/service.svg") 110px 50% no-repeat; background-size: 90px; }
  #remont-pc .service-header-caption { background-image: url("../images/remont-pc.svg"); }
  #refill .service-header-caption { background-image: url("../images/refill.svg"); }
  #soft .service-header-caption { background-image: url("../images/soft.svg"); }
  #print .service-header-caption { background-image: url("../images/print.svg"); }
  .service-description { width: 960px; margin: 0 auto; width: 880px; }
  .contacts { min-height: 700px; font-size: 32px; }
  .contacts-inner { width: 960px; margin: 0 auto; }
  .contacts-inner-phones, .contacts-inner-adreses { padding: 30px 0px 70px 110px; } }
